{% extends 'base.html' %}

{% block title %}API Documentation{% endblock %}

{% block content %}
  <h1>API Documentation</h1>
  <div class="mt-4">API can be accessed from <code>http://badakreversi.herokuapp.com/api</code>. All data is sent and received as JSON.</div>
  <h2 class="mt-4">Endpoints</h2>
  <h4 class="mt-4">Next move</h4>
  <div class="mt-4">This endpoint uses the AI engine to update the <i>POST-ed</i> board with a single move from the <i>hunter</i> side.</div>
  <div class="mt-4"><code>POST /next_move</code></div>
  <h6 class="mt-4">Request body example</h6>
  <div class="mt-4">
    <code>
      [<br>
      &nbsp;&nbsp;[null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;],<br>
      &nbsp;&nbsp;[null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;],<br>
      &nbsp;&nbsp;[null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;],<br>
      &nbsp;&nbsp;[null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;"rhino"&nbsp;,&nbsp;"hunter",&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;],<br>
      &nbsp;&nbsp;[null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;"rhino"&nbsp;,&nbsp;"rhino"&nbsp;,&nbsp;"rhino"&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;],<br>
      &nbsp;&nbsp;[null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;],<br>
      &nbsp;&nbsp;[null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;],<br>
      &nbsp;&nbsp;[null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;]<br>
      ]
    </code>
  </div>
  <h6 class="mt-4">Response body example</h6>
  <div class="mt-4">
    <code>
      [<br>
      &nbsp;&nbsp;[null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;],<br>
      &nbsp;&nbsp;[null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;],<br>
      &nbsp;&nbsp;[null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;],<br>
      &nbsp;&nbsp;[null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;"rhino"&nbsp;,&nbsp;"hunter",&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;],<br>
      &nbsp;&nbsp;[null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;"rhino"&nbsp;,&nbsp;"hunter",&nbsp;"rhino"&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;],<br>
      &nbsp;&nbsp;[null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;"hunter",&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;],<br>
      &nbsp;&nbsp;[null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;],<br>
      &nbsp;&nbsp;[null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;null&nbsp;&nbsp;&nbsp;&nbsp;]<br>
      ]
    </code>
  </div>
  <h2 class="mt-4">Errors</h2>
  <div class="mt-4">There are three possible types of errors:</div>
  <ol>
    <li class="mt-4">
      Sending an invalid JSON will result in a <code>400 Bad Request</code> response.
      <div class="mt-4">
        <code>
          HTTP/1.1 400 Bad Request<br>
          Content-Length: 35<br>
          <br>
          {"message":"Problems parsing JSON"}<br>
        </code>
      </div>
    </li>
    <li class="mt-4">
      Sending a request to an invalid endpoint will result in a <code>404 Not Found</code> response.
      <div class="mt-4">
        <code>
          HTTP/1.1 404 Not Found<br>
          Content-Length: 23<br>
          <br>
          {"message":"Not Found"}<br>
        </code>
      </div>
    </li>
    <li class="mt-4">
      Server/engine error will result in a <code>500 Internal Server Error</code> response.
      <div class="mt-4">
        <code>
          HTTP/1.1 500 Internal Server Error<br>
          Content-Length: 35<br>
          <br>
          {"message":"Internal Server Error"}<br>
        </code>
      </div>
    </li>
  </ol>
{% endblock %}