{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %} | Badak Reversi</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    {% block head %}{% endblock %}
</head>

<body>
    <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
        <nav class="navbar navbar-dark fixed-top bg-dark">
            <div class="container">
                <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                    <div class="navbar-nav-scroll">
                        <ul class="navbar-nav flex-row">
                            <li class="nav-item">
                                <a class="nav-link " href="{% url 'home' %}" onclick="ga('Badak Reversi');">Badak Reversi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="{% url 'apidocs' %}" onclick="ga('Badak Reversi');">API Documentation</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="container">
        {% block content %}{% endblock %}
    </main>
</body>

</html>