{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block head %}
<style>
    .game-board {
        border-spacing: 0;
        border-collapse: collapse;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .game-board th {
        padding: .5em;
    }

    .game-board td {
        border: 2px solid;
        width: 3em;
        height: 3em;
    }

    .game-board .light {
        background: #c5d5e2;
    }
</style>
{% endblock %}
{% block content %}
<table class="game-board mt-4" id="board">
    <tbody>
        <tr>
            <td class="light" onclick="onCellClick(0, 0)"></td>
            <td class="light" onclick="onCellClick(0, 1)"></td>
            <td class="light" onclick="onCellClick(0, 2)"></td>
            <td class="light" onclick="onCellClick(0, 3)"></td>
            <td class="light" onclick="onCellClick(0, 4)"></td>
            <td class="light" onclick="onCellClick(0, 5)"></td>
            <td class="light" onclick="onCellClick(0, 6)"></td>
            <td class="light" onclick="onCellClick(0, 7)"></td>
        </tr>
        <tr>
            <td class="light" onclick="onCellClick(1, 0)"></td>
            <td class="light" onclick="onCellClick(1, 1)"></td>
            <td class="light" onclick="onCellClick(1, 2)"></td>
            <td class="light" onclick="onCellClick(1, 3)"></td>
            <td class="light" onclick="onCellClick(1, 4)"></td>
            <td class="light" onclick="onCellClick(1, 5)"></td>
            <td class="light" onclick="onCellClick(1, 6)"></td>
            <td class="light" onclick="onCellClick(1, 7)"></td>
        </tr>
        <tr>
            <td class="light" onclick="onCellClick(2, 0)"></td>
            <td class="light" onclick="onCellClick(2, 1)"></td>
            <td class="light" onclick="onCellClick(2, 2)"></td>
            <td class="light" onclick="onCellClick(2, 3)"></td>
            <td class="light" onclick="onCellClick(2, 4)"></td>
            <td class="light" onclick="onCellClick(2, 5)"></td>
            <td class="light" onclick="onCellClick(2, 6)"></td>
            <td class="light" onclick="onCellClick(2, 7)"></td>
        </tr>
        <tr>
            <td class="light" onclick="onCellClick(3, 0)"></td>
            <td class="light" onclick="onCellClick(3, 1)"></td>
            <td class="light" onclick="onCellClick(3, 2)"></td>
            <td class="light" onclick="onCellClick(3, 3)"></td>
            <td class="light" onclick="onCellClick(3, 4)"></td>
            <td class="light" onclick="onCellClick(3, 5)"></td>
            <td class="light" onclick="onCellClick(3, 6)"></td>
            <td class="light" onclick="onCellClick(3, 7)"></td>
        </tr>
        <tr>
            <td class="light" onclick="onCellClick(4, 0)"></td>
            <td class="light" onclick="onCellClick(4, 1)"></td>
            <td class="light" onclick="onCellClick(4, 2)"></td>
            <td class="light" onclick="onCellClick(4, 3)"></td>
            <td class="light" onclick="onCellClick(4, 4)"></td>
            <td class="light" onclick="onCellClick(4, 5)"></td>
            <td class="light" onclick="onCellClick(4, 6)"></td>
            <td class="light" onclick="onCellClick(4, 7)"></td>
        </tr>
        <tr>
            <td class="light" onclick="onCellClick(5, 0)"></td>
            <td class="light" onclick="onCellClick(5, 1)"></td>
            <td class="light" onclick="onCellClick(5, 2)"></td>
            <td class="light" onclick="onCellClick(5, 3)"></td>
            <td class="light" onclick="onCellClick(5, 4)"></td>
            <td class="light" onclick="onCellClick(5, 5)"></td>
            <td class="light" onclick="onCellClick(5, 6)"></td>
            <td class="light" onclick="onCellClick(5, 7)"></td>
        </tr>
        <tr>
            <td class="light" onclick="onCellClick(6, 0)"></td>
            <td class="light" onclick="onCellClick(6, 1)"></td>
            <td class="light" onclick="onCellClick(6, 2)"></td>
            <td class="light" onclick="onCellClick(6, 3)"></td>
            <td class="light" onclick="onCellClick(6, 4)"></td>
            <td class="light" onclick="onCellClick(6, 5)"></td>
            <td class="light" onclick="onCellClick(6, 6)"></td>
            <td class="light" onclick="onCellClick(6, 7)"></td>
        </tr>
        <tr>
            <td class="light" onclick="onCellClick(7, 0)"></td>
            <td class="light" onclick="onCellClick(7, 1)"></td>
            <td class="light" onclick="onCellClick(7, 2)"></td>
            <td class="light" onclick="onCellClick(7, 3)"></td>
            <td class="light" onclick="onCellClick(7, 4)"></td>
            <td class="light" onclick="onCellClick(7, 5)"></td>
            <td class="light" onclick="onCellClick(7, 6)"></td>
            <td class="light" onclick="onCellClick(7, 7)"></td>
        </tr>
    </tbody>
</table>
<script>
    let board = [
        [null    , null    , null    , null    , null    , null    , null    , null    ],
        [null    , null    , null    , null    , null    , null    , null    , null    ],
        [null    , null    , null    , null    , null    , null    , null    , null    ],
        [null    , null    , null    , "rhino" , "hunter", null    , null    , null    ],
        [null    , null    , null    , "hunter", "rhino" , null    , null    , null    ],
        [null    , null    , null    , null    , null    , null    , null    , null    ],
        [null    , null    , null    , null    , null    , null    , null    , null    ],
        [null    , null    , null    , null    , null    , null    , null    , null    ]
    ];

    function updateHtml() {
        for (let row = 0; row < 8; row++) {
            for (let col = 0; col < 8; col++) {
                if (board[row][col] === "hunter") {
                    $("#board > tbody").children().eq(row).children().eq(col).html("<img src='{% static "img/hunter.png" %}'/>");
                } else if (board[row][col] === "rhino") {
                    $("#board > tbody").children().eq(row).children().eq(col).html("<img src='{% static "img/rhino.png" %}'/>");
                } else {
                    $("#board > tbody").children().eq(row).children().eq(col).empty();
                }
            }
        }
    }

    function isBoardFullOrAPlayerHasZeroScore() {
        let hunterCount = 0;
        let rhinoCount = 0;

        for (let row = 0; row < 8; row++) {
            for (let col = 0; col < 8; col++) {
                if (board[row][col] === "hunter") {
                    hunterCount++;
                } else if (board[row][col] === "rhino") {
                    rhinoCount++;
                }
            }
        }

        return hunterCount === 0 || rhinoCount === 0 || hunterCount + rhinoCount === 64
    }

    function aiNextMove(inputBoard, doneCallback, failCallback) {
        $.post("api/next_move", JSON.stringify(inputBoard))
            .done(function (outputBoard) {
                doneCallback(outputBoard);
            })
            .fail(function (data) {
                failCallback(data);
            })
    }

    function alertWinner() {
        let hunterCount = 0;
        let rhinoCount = 0;

        for (let row = 0; row < 8; row++) {
            for (let col = 0; col < 8; col++) {
                if (board[row][col] === "hunter") {
                    hunterCount++;
                } else if (board[row][col] === "rhino") {
                    rhinoCount++;
                }
            }
        }

        if (hunterCount > rhinoCount) {
            alert("Hunter wins!")
        } else if (hunterCount < rhinoCount) {
            alert("Rhino wins!")
        } else {
            alert("It's a tie!")
        }
    }

    function onCellClick(row, col) {
        if (board[row][col] == null) {
            let hasAHunterOnTopLeft = row > 0 && col > 0 && board[row - 1][col - 1] === "hunter";
            let hasAHunterOnTop = row > 0 && board[row - 1][col] === "hunter";
            let hasAHunterOnTopRight = row > 0 && col < 7 && board[row - 1][col + 1] === "hunter";
            let hasAHunterOnRight = col < 7 && board[row][col + 1] === "hunter";
            let hasAHunterOnBottomRight = row < 7 && col < 7 && board[row + 1][col + 1] === "hunter";
            let hasAHunterOnBottom = row < 7 && board[row + 1][col] === "hunter";
            let hasAHunterOnBottomLeft = row < 7 && col > 0 && board[row + 1][col - 1] === "hunter";
            let hasAHunterOnLeft = col > 0 && board[row][col - 1] === "hunter";

            let oneOrMoreCellsChanged = false;

            if (hasAHunterOnTopLeft) {
                let cellsToChange = [];
                let anotherRhinoFound = false;
                let i = row - 1;
                let j = col - 1;
                while (i >= 0 && j >= 0 && !anotherRhinoFound) {
                    if (board[i][j] === "hunter") {
                        cellsToChange.push([i, j])
                    } else if (board[i][j] === "rhino") {
                        anotherRhinoFound = true
                    } else {
                        break
                    }
                    i--;
                    j--;
                }
                if (anotherRhinoFound) {
                    cellsToChange.forEach(cell => board[cell[0]][cell[1]] = "rhino");
                    oneOrMoreCellsChanged = true;
                }
            }

            if (hasAHunterOnTop) {
                let cellsToChange = [];
                let anotherRhinoFound = false;
                let i = row - 1;
                while (i >= 0 && !anotherRhinoFound) {
                    if (board[i][col] === "hunter") {
                        cellsToChange.push([i, col])
                    } else if (board[i][col] === "rhino") {
                        anotherRhinoFound = true
                    } else {
                        break
                    }
                    i--;
                }
                if (anotherRhinoFound) {
                    cellsToChange.forEach(cell => board[cell[0]][cell[1]] = "rhino");
                    oneOrMoreCellsChanged = true;
                }
            }

            if (hasAHunterOnTopRight) {
                let cellsToChange = [];
                let anotherRhinoFound = false;
                let i = row - 1;
                let j = col + 1;
                while (i >= 0 && j <= 7 && !anotherRhinoFound) {
                    if (board[i][j] === "hunter") {
                        cellsToChange.push([i, j])
                    } else if (board[i][j] === "rhino") {
                        anotherRhinoFound = true
                    } else {
                        break
                    }
                    i--;
                    j++;
                }
                if (anotherRhinoFound) {
                    cellsToChange.forEach(cell => board[cell[0]][cell[1]] = "rhino");
                    oneOrMoreCellsChanged = true;
                }
            }

            if (hasAHunterOnRight) {
                let cellsToChange = [];
                let anotherRhinoFound = false;
                let i = col + 1;
                while (i <= 7 && !anotherRhinoFound) {
                    if (board[row][i] === "hunter") {
                        cellsToChange.push([row, i])
                    } else if (board[row][i] === "rhino") {
                        anotherRhinoFound = true
                    } else {
                        break
                    }
                    i++;
                }
                if (anotherRhinoFound) {
                    cellsToChange.forEach(cell => board[cell[0]][cell[1]] = "rhino");
                    oneOrMoreCellsChanged = true;
                }
            }

            if (hasAHunterOnBottomRight) {
                let cellsToChange = [];
                let anotherRhinoFound = false;
                let i = row + 1;
                let j = col + 1;
                while (i <= 7 && j <= 7 && !anotherRhinoFound) {
                    if (board[i][j] === "hunter") {
                        cellsToChange.push([i, j])
                    } else if (board[i][j] === "rhino") {
                        anotherRhinoFound = true
                    } else {
                        break
                    }
                    i++;
                    j++;
                }
                if (anotherRhinoFound) {
                    cellsToChange.forEach(cell => board[cell[0]][cell[1]] = "rhino");
                    oneOrMoreCellsChanged = true;
                }
            }

            if (hasAHunterOnBottom) {
                let cellsToChange = [];
                let anotherRhinoFound = false;
                let i = row + 1;
                while (i <= 7 && !anotherRhinoFound) {
                    if (board[i][col] === "hunter") {
                        cellsToChange.push([i, col])
                    } else if (board[i][col] === "rhino") {
                        anotherRhinoFound = true
                    } else {
                        break
                    }
                    i++;
                }
                if (anotherRhinoFound) {
                    cellsToChange.forEach(cell => board[cell[0]][cell[1]] = "rhino");
                    oneOrMoreCellsChanged = true;
                }
            }

            if (hasAHunterOnBottomLeft) {
                let cellsToChange = [];
                let anotherRhinoFound = false;
                let i = row + 1;
                let j = col - 1;
                while (i <= 7 && j >= 0 && !anotherRhinoFound) {
                    if (board[i][j] === "hunter") {
                        cellsToChange.push([i, j])
                    } else if (board[i][j] === "rhino") {
                        anotherRhinoFound = true
                    } else {
                        break
                    }
                    i++;
                    j++;
                }
                if (anotherRhinoFound) {
                    cellsToChange.forEach(cell => board[cell[0]][cell[1]] = "rhino");
                    oneOrMoreCellsChanged = true;
                }
            }

            if (hasAHunterOnLeft) {
                let cellsToChange = [];
                let anotherRhinoFound = false;
                let i = col - 1;
                while (i >= 0 && !anotherRhinoFound) {
                    if (board[row][i] === "hunter") {
                        cellsToChange.push([row, i])
                    } else if (board[row][i] === "rhino") {
                        anotherRhinoFound = true
                    } else {
                        break
                    }
                    i--;
                }
                if (anotherRhinoFound) {
                    cellsToChange.forEach(cell => board[cell[0]][cell[1]] = "rhino");
                    oneOrMoreCellsChanged = true;
                }
            }

            if (oneOrMoreCellsChanged) {
                board[row][col] = "rhino";

                updateHtml();

                if (!isBoardFullOrAPlayerHasZeroScore()) {
                    aiNextMove(
                        board,
                        function (outputBoard) {
                            board = outputBoard;
                            updateHtml();
                        },
                        function () {
                            alertWinner();
                        }
                    )
                } else {
                    alertWinner();
                }
            }
        }
    }

    updateHtml();


    /*
     * Cheat codes
     */

    function klapaucius() {
        let invertedBoard = [];
        for (let row = 0; row < 8; row++) {
            invertedBoard[row] = [];
            for (let col = 0; col < 8; col++) {
                if (board[row][col] === "hunter") {
                    invertedBoard[row][col] = "rhino"
                } else if (board[row][col] === "rhino") {
                    invertedBoard[row][col] = "hunter"
                } else {
                    invertedBoard[row][col] = null
                }
            }
        }
        aiNextMove(
            invertedBoard,
            function(outputBoard) {
                for (let row = 0; row < 8; row++) {
                    for (let col = 0; col < 8; col++) {
                        if (outputBoard[row][col] === "hunter") {
                            board[row][col] = "rhino"
                        } else if (outputBoard[row][col] === "rhino") {
                            board[row][col] = "hunter"
                        } else {
                            board[row][col] = null
                        }
                    }
                }
                updateHtml();
                aiNextMove(
                    board,
                    function (outputBoard) {
                        board = outputBoard;
                        updateHtml();
                    },
                    function () {
                        alertWinner();
                    }
                )
            },
            function() {
                alertWinner()
            }
        )
    }

    function rosebud() {
        let shouldInvert = true;
        let callback = function() {
            if (!isBoardFullOrAPlayerHasZeroScore()) {
                if (shouldInvert) {
                    shouldInvert = !shouldInvert;
                    let invertedBoard = [];
                    for (let row = 0; row < 8; row++) {
                        invertedBoard[row] = [];
                        for (let col = 0; col < 8; col++) {
                            if (board[row][col] === "hunter") {
                                invertedBoard[row][col] = "rhino"
                            } else if (board[row][col] === "rhino") {
                                invertedBoard[row][col] = "hunter"
                            } else {
                                invertedBoard[row][col] = null
                            }
                        }
                    }
                    aiNextMove(invertedBoard,
                        function(outputBoard) {
                            for (let row = 0; row < 8; row++) {
                                for (let col = 0; col < 8; col++) {
                                    if (outputBoard[row][col] === "hunter") {
                                        board[row][col] = "rhino"
                                    } else if (outputBoard[row][col] === "rhino") {
                                        board[row][col] = "hunter"
                                    } else {
                                        board[row][col] = null
                                    }
                                }
                            }
                            updateHtml();
                            callback();
                        },
                        function() {
                            alertWinner();
                        }
                    )
                } else {
                    shouldInvert = !shouldInvert;
                    aiNextMove(
                        board,
                        function (outputBoard) {
                            board = outputBoard;
                            updateHtml();
                            callback();
                        },
                        function () {
                            alertWinner();
                        }
                    )
                }
            } else {
                alertWinner();
            }
        };
        callback();
    }
</script>
{% endblock %}